<script src="javascripts/lib/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="javascripts/navigation.js" type="text/javascript"></script>
<nav>
    <div class="header-card">
      <div class="nav-container">
        <a href="/agendamentos"><img class="header-logo" src="images/octopus.png" alt="Logo"></a>
        <div class="nav-link agendamentos-header">
          <a href="/agendamentos">
            <img src="images/agendamentos-icon.png" alt="Agendamentos">
            <span>Agendamentos</span>
          </a>
        </div>
        <div class="nav-link avaliacoes-header">
          <a href="/avaliacoes">
            <img src="images/avaliacoes-icon.png" alt="Avaliacoes">
            <span>Avaliações</span>
          </a>
        </div>
        <div class="nav-link perfil-header">
          <a class="perfil-dropdown-link" onclick="mostrarDropdown(event)">
            <img src="images/perfil-icon.png" alt="Perfil">
            <span>Perfil</span>
          </a>
          <div class="perfil-dropdown d-none">
            <ul>
              <li><a href="/perfil">Editar perfil</a></li>
              <li><a href="/">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>