<nav>
    <div class="header-card">
      <div class="nav-container">
        <a href="/agendamentos"><img class="header-logo" src="images/octopus.png" alt="Logo"></a>
        <div class="nav-link agendamentos-header">
          <a href="/agendamentos">
            <img src="images/agendamentos-icon.png" alt="Agendamentos">
            <span>Agendamentos</span>
          </a>
        </div>
        <div class="nav-link avaliacoes-header">
          <a href="/avaliacoes">
            <img src="images/avaliacoes-icon.png" alt="Avaliacoes">
            <span>Avaliações</span>
          </a>
        </div>
        <div class="nav-link perfil-header">
          <a href="/perfil">
            <img src="images/perfil-icon.png" alt="Perfil">
            <span>Perfil</span>
          </a>
        </div>
      </div>
    </div>
  </nav>