<!doctype html>
<html>
  <head>
    <title>Opus</title>
    <link rel="stylesheet" href="stylesheets/jquery-ui.CSS"/>
    <link rel="stylesheet" href="stylesheets/bootstrap-datepicker3.standalone.min.css"/>
    <script src="javascripts/lib/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="javascripts/lib/jquery-ui.min.js"></script>
    <script src="javascripts/lib/bootstrap.min.js" type="text/javascript"></script>
    <script src="javascripts/lib/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="javascripts/lib/bootstrap-datepicker.pt-BR.min.js" type="text/javascript"></script>
    <script src="tests/editarPerfil.js" type="text/javascript"></script>
    <link rel="stylesheet" href="stylesheets/perfil.css">
    <link rel="shortcut icon" href="images/icone.ico" />
    <script src="javascripts/perfil.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>

    <%- include partials/navigation.ejs %>
    <div class="conteudo-container">
      <div class="perfil-header-container">
        <div class="avaliacao-total">
          <span>4,9</span>
          <img src="images/avaliacoes-icon.png" alt="">
        </div>

        <div class="foto-perfil">
          <img src="images/samples/professional-icon.png" alt="">
        </div>
      </div>

      <form id="edit-form">
          <input type="hidden" id="idProfissional" name="id_profissional">
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <label for="emailInput">Email</label>
              <input type="text" class="form-control" id="emailInput" placeholder="E-mail" name="email" required>
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <label for="sexoInput">Sexo</label>
              <select required class="form-control" id="sexoInput" name="sexo">
                <option value="" disabled selected>Sexo</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
              </select>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <label for="nomeInput">Nome</label>
              <input type="text" class="form-control" id="nomeInput" placeholder="Nome" name="nome">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <label for="sobrenomeInput">Sobrenome</label>
              <input type="text" class="form-control" id="sobrenomeInput" placeholder="Sobrenome" name="sobrenome">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <label for="nomeUsuarioInput">Nome de Usuário</label>
              <input type="text" class="form-control" id="nomeUsuarioInput" placeholder="Nome de usuário" name="nome_usuario">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <label for="nascimentoInput">Data de Nascimento</label>
              <input type="text" class="form-control" id="nascimentoInput" placeholder="Data de nascimento" required>
              <input type="text" class="d-none" id="nascimentoInputReal" placeholder="Data de nascimento" name="data_nasc">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <label for="cpfInput">CPF</label>
              <input type="text" class="form-control" id="cpfInput" placeholder="CPF" name="cpf">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <label for="rgInput">RG</label>
              <input type="text" class="form-control" id="rgInput" placeholder="RG" name="rg">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <label for="telefoneInput">Telefone</label>
              <input type="text" class="form-control" id="telefoneInput" placeholder="Telefone" name="telefone">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <label for="cepInput">CEP</label>
              <input type="text" class="form-control" id="cepInput" placeholder="CEP" name="cep">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <label for="estadoInput">Estado</label>
              <input type="text" class="form-control" id="estadoInput" placeholder="Estado" name="estado">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <label for="cidadeInput">Cidade</label>
              <input type="text" class="form-control" id="cidadeInput" placeholder="Cidade" name="cidade">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <label for="ruaInput">Rua</label>
              <input type="text" class="form-control" id="ruaInput" placeholder="Rua" name="rua">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <label for="numeroInput">Número</label>
              <input type="text" class="form-control" id="numeroInput" placeholder="Número" name="num_res">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <label for="servicoInput">Serviço</label>
              <select required class="form-control" id="servicoInput" name="id_servico" required>
                <option value="" disabled selected>Serviço</option>
                <% servicos.forEach(function(servico){ %>
                  <option value="<%=servico.id_servico%>"><%=servico.nome%></option>
                <%}) %>
              </select>
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <label for="valorInput">Valor/Hora</label>
              <input type="text" class="form-control" id="valorInput" placeholder="Valor/Hora" name="preco_hora">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <label for="senhaInput">Senha</label>
              <input type="password" class="form-control" id="senhaInput" placeholder="Senha" name="senha">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <label for="confirmarSenhaInput">Confirmar senha</label>
              <input type="password" class="form-control" id="confirmarSenhaInput" placeholder="Confirmar senha">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-12 mb-3">
              <label for="descricaoInput">Descrição</label>
              <textarea class="form-control" id="descricaoInput" rows="6" placeholder="Fale um pouco sobre você..." name="descricao"></textarea>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2">
              <button type="submit" class="btn btn-primary">Alterar</button>
            </div>
            <div class="col-sm-6 pl-2">
              <button type="button" class="btn btn-primary btn-excluir">Excluir</button>
            </div>
          </div>
        </form>
    </div>

    <div id="modal-sucesso"class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sucesso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Perfil alterado com sucesso.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
