<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/perfil.css">
    <script src="javascripts/perfil.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>

    <%- include partials/navigation.ejs %>

    <div class="conteudo-container">
      <div class="perfil-header-container">
        <div class="avaliacao-total">
          <span>4,9</span>
          <img src="images/avaliacoes-icon.png" alt="">
        </div>

        <div class="foto-perfil">
          <img src="images/samples/professional-icon.png" alt="">
        </div>
      </div>

      <form id="signup-form">
          <div class="row no-gutters mb-3">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="emailInput" placeholder="E-mail">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <input type="text" class="form-control" id="nomeInput" placeholder="Nome">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <input type="text" class="form-control" id="sobrenomeInput" placeholder="Sobrenome">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <input type="text" class="form-control" id="nomeUsuarioInput" placeholder="Nome de usuário">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <input type="text" class="form-control" id="nascimentoInput" placeholder="Data de nascimento">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <input type="text" class="form-control" id="cpfInput" placeholder="CPF">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <input type="text" class="form-control" id="rgInput" placeholder="RG">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <input type="text" class="form-control" id="telefoneInput" placeholder="Telefone">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <input type="text" class="form-control" id="cepInput" placeholder="CEP">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <input type="text" class="form-control" id="estadoInput" placeholder="Estado">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <input type="text" class="form-control" id="cidadeInput" placeholder="Cidade">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <input type="text" class="form-control" id="ruaInput" placeholder="Rua">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <input type="text" class="form-control" id="numeroInput" placeholder="Número">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <select required class="form-control" id="servicoInput">
                <option value="" disabled selected>Serviço</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <input type="text" class="form-control" id="valorInput" placeholder="Valor/Hora">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2 mb-3">
              <input type="password" class="form-control" id="senhaInput" placeholder="Senha">
            </div>
            <div class="col-sm-6 pl-2 mb-3">
              <input type="password" class="form-control" id="confirmarSenhaInput" placeholder="Confirmar senha">
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-12 mb-3">
              <textarea class="form-control" id="descricaoInput" rows="6" placeholder="Fale um pouco sobre você..."></textarea>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 pr-2">
              <button type="submit" class="btn btn-primary">Alterar</button>
            </div>
            <div class="col-sm-6 pl-2">
              <button type="submit" class="btn btn-primary btn-excluir">Excluir</button>
            </div>
          </div>
        </form>
    </div>

  </body>
</html>
