@import url("bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
  height: 100%;
  overflow: auto;
}

body {
  font-family: 'Roboto';
  background-color: #FAFAFA;
  color: #3E3E3E;
}

.conteudo-titulo {
  font-size: 20px;
  font-weight: 500;
}

.card {
  border-radius: 0px;
  border: 1px solid #e6e6e6;
}

.form-group input {
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  background-color: #FAFAFA;
  font-size: 12px;
}

.form-control {
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  background-color: #FAFAFA;
  font-size: 12px;
}

input::placeholder {
  color: #999999 !important;
}

textarea::placeholder {
  color: #999999 !important;
}

select:invalid {
  color: #999999;
}

.form-control:focus {
  background-color: #FAFAFA;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

@media (max-width: 525px) {
  .card {
    width: 100% !important;
  }
}

.header-card {
  border-radius: 0px;
  border-bottom: 1px solid #e6e6e6;
  height: 80px;
  background-color: #FFF;
}

.header-card a{
  color: #3E3E3E;
  text-decoration: none;
}

.header-card a span {
  position: relative;
  top: 3px;
  margin-left: 4px;
}

.nav-container {
  height: 80px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1146px;
  display: flex;
  align-items: center;
}

.nav-link {
  padding-left: 30px;
  padding-right: 0;
}

.header-logo {
  width: 63px;
  height: 63px;
}

.agendamentos-header img {
  width: 25px;
  height: 27px;
}

.avaliacoes-header img {
  width: 29px;
  height: 29px;
}

.perfil-header {
  margin-left: auto;
  position: relative;
}

.perfil-header img {
  width: 31px;
  height: 31px;
}

.conteudo-container {
  padding: 30px;
  margin: auto;
  max-width: 1146px;
  display: flex;
  flex-direction: column;
}

.perfil-dropdown {
  right: 0;
  top: 45px;
  background-color: #FFF;
  list-style-type: none;
  position: absolute;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.perfil-dropdown ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.perfil-dropdown li{
  height: 35px;
  line-height: 35px;
  width: 110px;
  padding-left: 10px;
}

.perfil-dropdown li:hover{
  background-color: #f3f3f3;
}

.perfil-dropdown-link {
  cursor: pointer;
}