<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css\index.css">
    <script src="js\index.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div class="container-fluid">
      <div class="card login-card">
        <div class="card-body">
          <div class="row logo-container">
            <img src="resource/logo.png" alt="logo">
          </div>
          <form id="login-form">
            <div class="form-group">
              <div class="row">
                <input type="username" class="form-control col-sm-12" id="usernameInput" placeholder="Usuário">
              </div>
              <div class="row">
                <input type="password" class="form-control col-sm-12" id="passwordInput" placeholder="Senha">
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-primary btn-login col-sm-12">Entrar</button>
            </div>
          </form>
          <a class="row forgot-password" href="#">Esqueci minha senha</a>
        </div>
      </div>

      <div class="card register-card">
        <div class="card-body">
          <span>Deseja oferecer um serviço?&nbsp;</span>
          <a href="#">Cadastre-se</a>
        </div>
      </div>
    </div>
  </body>
</html>
